<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <table border="1px">
        <tr>
          <th>Name</th>
          
        </tr>
        <%resp.map((item)=>{%>
            <tr>
          <td> 
            <%= item.name%>
            </td>
          <td><a href="/index/delete/<%= item._id%>">delete</a></td>
        </tr>
        <td><a href="/index/edit?id=<%= item._id%>&name=<%= item.name%>"> Edit </a></td>
          <%})%>    
      
      </table>
</body>
</html>